[openfigi]
CH_EQUITY_URL=https://openfigi.com/search/export?exportToExcel=true&facetQuery=SECURITY_TYP:(%22Common+Stock%22)&facetQuery=EXCH_CODE:(%22CH%22)&facetQuery=CNTRY_ISSUE_ISO:(%22CN%22)&facetQuery=MARKET_SECTOR_DES:%22Equity%22&simpleSearchString=&start=0&redirectUrl=https%3A%2F%2Fopenfigi.com%2Fsearch%23!%3FmarketSector%3DEquity%26facets%3DSECURITY_TYP%3A%2C%2CCommon%2520Stock~EXCH_CODE%3A%2C%2CCH~CNTRY_ISSUE_ISO%3A%2C%2CCN%26page%3D1
HK_EQUITY_URL=https://openfigi.com/search/export?exportToExcel=true&facetQuery=SECURITY_TYP:(%22Common+Stock%22)&facetQuery=EXCH_CODE:(%22HK%22)&facetQuery=CNTRY_ISSUE_ISO:(%22HK%22)&facetQuery=MARKET_SECTOR_DES:%22Equity%22&simpleSearchString=&start=0&redirectUrl=https%3A%2F%2Fopenfigi.com%2Fsearch%23!%3FmarketSector%3DEquity%26facets%3DSECURITY_TYP%3A%2C%2CCommon%2520Stock~EXCH_CODE%3A%2C%2CHK~CNTRY_ISSUE_ISO%3A%2C%2CHK%26page%3D1
TT_EQUITY_URL=https://openfigi.com/search/export?exportToExcel=true&facetQuery=SECURITY_TYP:(%22Common+Stock%22)&facetQuery=EXCH_CODE:(%22TT%22)&facetQuery=CNTRY_ISSUE_ISO:(%22TW%22)&facetQuery=MARKET_SECTOR_DES:%22Equity%22&simpleSearchString=&start=0&redirectUrl=https%3A%2F%2Fopenfigi.com%2Fsearch%23!%3FmarketSector%3DEquity%26facets%3DSECURITY_TYP%3A%2C%2CCommon%2520Stock~EXCH_CODE%3A%2C%2CTT~CNTRY_ISSUE_ISO%3A%2C%2CTW%26page%3D1
US_ADR_URL=https://openfigi.com/search/export?exportToExcel=true&facetQuery=SECURITY_TYP:(%22ADR%22)&facetQuery=CNTRY_ISSUE_ISO:(%22US%22)&facetQuery=EXCH_CODE:(%22US%22)&facetQuery=MARKET_SECTOR_DES:%22Equity%22&simpleSearchString=&start=0&redirectUrl=https%3A%2F%2Fopenfigi.com%2Fsearch%23!%3FmarketSector%3DEquity%26facets%3DSECURITY_TYP%3A%2C%2CADR~CNTRY_ISSUE_ISO%3A%2C%2CUS~EXCH_CODE%3A%2C%2CUS%26page%3D1%26pageSize%3D100
JP_EQUITY_URL=https://openfigi.com/search/export?exportToExcel=true&facetQuery=SECURITY_TYP:(%22Common+Stock%22)&facetQuery=EXCH_CODE:(%22JP%22)&facetQuery=CNTRY_ISSUE_ISO:(%22JP%22)&facetQuery=MARKET_SECTOR_DES:%22Equity%22&simpleSearchString=&start=0&redirectUrl=https%3A%2F%2Fopenfigi.com%2Fsearch%23!%3FmarketSector%3DEquity%26facets%3DSECURITY_TYP%3A%2C%2CCommon%2520Stock~EXCH_CODE%3A%2C%2CJP~CNTRY_ISSUE_ISO%3A%2C%2CJP%26page%3D1%26pageSize%3D20
KS_EQUITY_URL=https://openfigi.com/search/export?exportToExcel=true&facetQuery=SECURITY_TYP:(%22Common+Stock%22)&facetQuery=EXCH_CODE:(%22KS%22)&facetQuery=CNTRY_ISSUE_ISO:(%22KR%22)&facetQuery=MARKET_SECTOR_DES:%22Equity%22&simpleSearchString=&start=0&redirectUrl=https%3A%2F%2Fopenfigi.com%2Fsearch%23!%3FmarketSector%3DEquity%26facets%3DSECURITY_TYP%3A%2C%2CCommon%2520Stock~EXCH_CODE%3A%2C%2CKS~CNTRY_ISSUE_ISO%3A%2C%2CKR%26page%3D1%26pageSize%3D20